$themes :(
  light-juejin:(

    theme_color: #1e80ff,
    //字色
    font_color1: #1b1b1b,
    font_color2: #404040,
    
    //背景
    background_color1: #fff,
    background_color2: #eee,
    
    //边框
    border_color1: #cdcdcd,
  ),
  dark-meow:(

    theme_color: #c85591,
    //字体
    font_color1: #dedede,
    font_color2: #a2a2a2,
    
    //背景
    background_color1: #292538,
    background_color2: #0d0a1b,

    //边框
    border_color1: #333947,
  )
)