$themes :(
  light-juejin:(

    theme_color: #1d78ff,
    //字色
    font_color1: #151515,
    font_color2: #383838,
    
    //背景
    background_color1: #fff,
    background_color2: #a2a2a2,
    
    //边框
    border_color1: #3d414a,
  ),
  dark-meow:(

    theme_color: #ff6e7d,
    //字体
    font_color1: #e6e6e6,
    font_color2: #a2a2a2,
    
    //背景
    background_color1: #202b38,
    background_color2: #0c0e13,

    //边框
    border_color1: #3d414a,
  )
)